<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--
            akka.actor.ActorSystemImpl frequently logs "Outgoing request stream error" that appear to be harmless:

              https://github.com/akka/akka-http/issues/497

            We don't like this noise, as it might obfuscate real errors. Hence, we want to filter it out.
        -->
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.JaninoEventEvaluator">
                <expression>return message.toLowerCase().contains("outgoing request stream error");</expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="io.netty" level="INFO" />

    <logger name="com.corundumstudio.socketio" level="WARN" />
    <logger name="com.github.nkzawa" level="DEBUG" />

    <logger name="akka.actor.LocalActorRef" level="WARN" />
    <logger name="akka.event.slf4j.Slf4jLogger" level="WARN" />
    <logger name="akka.event.EventStream" level="INFO" />
    <logger name="com.amazonaws" level="ERROR"/>
    <logger name="org.apache" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>